/* 
https://colorhunt.co/palette/226115

*/

/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.hidden {
  display: none;
}

/* HOME STYLES */

.heading {
  color: white;
  height: 50vh;
  background-image: linear-gradient(to right bottom, #1858e28a, #f3722100),
    url(../images/ferns.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.heading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.75rem;
  font-weight: 200;
}

.link--no-underline {
  text-decoration: none;
  color: aqua;
}

/* POEM STYLES */

.poem {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poem--title {
  font-size: 3rem;
}

.poem--author {
  font-size: 2rem;
}

.author {
  font-size: 1.3rem;
}

.poem--main {
  font-size: 1.6rem;
  margin-top: 2rem;
}

/*


.card {
  border: 1px white solid;
  background-color: palegreen;
  color: black;
  border-radius: 5px;
  padding: 15px;
  margin-left: 20px;
  width: 50%;
  position: absolute;
}

.card > a {
  position: relative;
  top: 10px;
  width: 100px;
  height: 33px;
  padding: 10px;
  text-decoration: none;
  background-color: red;
  border-radius: 5px;
  text-align: center;
}

*/

/* POWR STYLES  */

.powr {
  background-color: #e5e9ec;
}

.breathing-gif {
  width: 300px;
  margin: auto;
}

/* FUTURE PLANS STYLES */
/* 
.future-adds {
  background-color: lightyellow;
} */
