/* 
https://colorhunt.co/palette/226115

*/

$color-primary: #1858e2;

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.hidden {
  display: none;
}

/* HOME STYLES */

.heading {
  color: white;
  height: 50vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(#1858e2, 0.541),
      #f3722100
    ),
    url(../images/ferns.jpg);
  background-size: cover;
  background-position: center;
  position: relative;

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.75rem;
    font-weight: 200;
  }

  &-link--no-underline {
    text-decoration: none;
    color: aqua;
  }
}

/* POEM STYLES */

.poem {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &--title {
    font-size: 3rem;
  }

  &--author {
    font-size: 2rem;
  }

  &--main {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}

.author {
  font-size: 1.3rem;
}

/* POWR STYLES  */

.powr {
  background-color: #e5e9ec;
}

.breathing-gif {
  width: 300px;
  margin: auto;
}
